<%- include('header'); -%>
<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>

<div class="box">
  <% for(const [i,val] of insideList.entries()){ %>
  <div class="item">
    <input type="checkbox" id="" />
    <p><%= val %></p>
  </div>
  <% } %>

  <form action="/" method="post" class="item">
    <input
      type="text"
      name="listEntry"
      id="listEntry"
      placeholder="New Item"
      autocomplete="off"
    />
    <button type="submit" name="submit" value="<%=listTitle%>">+</button>
  </form>
</div>
<%- include('footer'); -%>
